:root {
    --primary-color: #99C734;
    --highlight-color: #3899BA;
    --highlight-alt-color: #DC7850;
    --neutral-dark: #382929;
    --neutral-dark-low-opacity: rgba(56, 41, 41, 0.7);
    --neutral-dark-lowest-opacity: rgba(56, 41, 41, 0.12);
    --neutral-light: #fff;
    --black-shadow: rgba(0, 0, 0, 0.24);
    --min-screen-width: 25em;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: var(--neutral-dark);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.container {
  margin: 0 auto;
  width: 30vw;
  min-width: var(--min-screen-width);
  background-color: var(--neutral-light);
}

header {
  position: fixed;
  width: 30vw;
  min-width: var(--min-screen-width);
  z-index: 3;
  height: 64px;
  background-color: var(--neutral-light);
  display: inline-block;
  padding-left: 16px;
}

header i, header h6 {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 18px;
}

header h6 {
  font-family: Muli, sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  padding-left: 32px;
}

.station-header {
  position: fixed;
  margin-top: 64px;
  z-index: 3;
  width: 30vw;
  min-width: var(--min-screen-width);
  background-color: var(--primary-color);
  height: 72px;
  box-shadow: 0px 2px 4px var(--black-shadow);
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.subtitle-1 {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15px;
  margin-bottom: 8px;
}

.name-walking-distance {
  display: inline-block;
}

.walking-distance i, .walking-distance p{
  display: inline-block;
  vertical-align: middle;
}

.right-chevron {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 16px;
  padding-top: 8px;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.bus-line-list {
  padding-top: 136px;
}

.bus-line {
  height: 88px;
  position: relative;
}

#first {
  /*background-color: red;*/
}

.border {
  height: 1px;
  width: 75%;
  /*float: right;*/
  background-color: var(--neutral-dark-lowest-opacity);
  position: absolute;
  bottom: 0;
  right: 0;
}

.contents {
  /*background-color: black;*/
  padding-top: 24px;
  padding-bottom: 24px;
}

.bus-number {
  display: inline-block;
  margin-left: 4.4%; /* 16px */
  height: 32px; /* 32px */
  width: 56px; /* 56px */
  background-color: var(--primary-color);
  border-radius: 4px;
}

.bus-number i, .bus-number p{
  display: inline-flex;
  vertical-align: middle;
  padding-top: 4px;
}

.arrow {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 4px;
}

.info {
  display: inline-block;
  vertical-align: middle;
}

.direction {
  color: var(--neutral-dark-low-opacity);
}

.overline {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 24px;
}

.time {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 16px;
  vertical-align: middle;
}

.time img, .time p {
  display: table;
  width: 100%;
}

.time .body {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.reroute .bus-number {
  background-color: var(--highlight-alt-color);
}

.out-of-service .bus-number {
  background-color: var(--neutral-light);
  border: 1px solid var(--neutral-dark-low-opacity);
  color: var(--neutral-dark-low-opacity);
}

.subtitle-2 {
  text-align: center;
}
