/*** VARIABLES ***/
:root {
    --primary-color: #A7D14B;
    --primary-color-dark: #75A013;
    --highlight-color: #3899BA;
    --highlight-alt-color: #DC7850;
    --neutral-dark: #382929;
    --neutral-dark-low-opacity: rgba(56, 41, 41, 0.7);
    --neutral-dark-lowest-opacity: rgba(56, 41, 41, 0.12);
    --neutral-light: #fff;
    --neutral-light-low-opacity: rgba(256, 256, 256, 0.75);
    --neutral-light-lowest-opacity: rgba(256, 256, 256, 0.2);
    --black-shadow: rgba(0, 0, 0, 0.24);
    --min-screen-width: 25em;
}

/*** FROM MATERIAL.IO ***/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

* {
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: var(--min-screen-width);
  background-color: var(--neutral-light);
}

/*** TOP BAR ***/
header {
  position: fixed;
  width: 100%;
  min-width: var(--min-screen-width);
  z-index: 3;
  height: 64px;
  background-color: var(--neutral-light);
  display: inline-block;
  padding-left: 16px;
}
header i, header h6 {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 18px;
}
header h6 {
  font-family: Muli, sans-serif;
  font-size: 18px;
  letter-spacing: 0.15px;
  line-height: 24px;
  padding-left: 32px;
}

/*** MORE ***/
.more {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 16px;
}
.more-menu {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: var(--neutral-light);
  box-shadow: 2px 2px 12px var(--black-shadow);
  right: 16px;
  top: 48px;
  height: 48px;
  width: 0;
  border-radius: 4px;
}
.more-menu p {
  padding: 16px;
  height: 32px;
}
.switch-label, .more-menu p {
  display: inline-flex;
  display: none;
  margin-top: 0px;
}

/*** STATION HEADER ***/
.station-header {
  position: fixed;
  margin-top: 64px;
  z-index: 3;
  width: 100%;
  min-width: var(--min-screen-width);
  background-color: var(--primary-color);
  height: 72px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.subtitle-1 {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 20px;
  margin-bottom: 8px;
}
.name-walking-distance {
  display: inline-block;
}
.walking-distance i, .walking-distance p{
  display: inline-block;
  vertical-align: middle;
}
.right-chevron {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 16px;
  padding-top: 8px;
}
.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 14px;
}

/*** COLUMN HEADER ***/
.column-header {
  position: fixed;
  margin-top: 136px;
  padding-left: 16px;
  z-index: 3;
  width: 100%;
  height: 32px;
  background-color: var(--neutral-light);
  border-bottom: 1px solid var(--neutral-dark-lowest-opacity);
}
.column-header .caption {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}
.live {
  height: 10px;
  padding-right: 8px;
}
.mid-col {
  padding-left: 60px;
}
.right-col {
  float: right;
  padding-right: 16px;
}

/*** BUS LINES ***/
.bus-line-list {
  padding-top: 168px;
}
.bus-line {
  height: 88px;
  position: relative;
}
.border {
  height: 1px;
  width: 75%;
  background-color: var(--neutral-dark-lowest-opacity);
  position: absolute;
  bottom: 0;
  right: 0;
}
.contents {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*** BUS NUMBER ***/
.bus-number {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-left: 16px;
  height: 32px;
  width: 56px;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.subtitle-2 {
  font-size: 16px;
  letter-spacing: 0.15px;
  font-family: Muli, sans-serif;
  text-align: center;
}

/*** BUS INFO ***/
.arrow {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 4px;
}
.info {
  display: inline-block;
  vertical-align: middle;
}
.direction {
  color: var(--neutral-dark-low-opacity);
}
.overline {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 24px;
}

/*** TIMES ***/
.time {
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 16px;
  vertical-align: middle;
  width: 96px;
}
.time img {
  height: 8px;
}
.sooner, .later {
  display: inline-flex;
  float: right;
}
.time .body {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/*** REROUTE ***/
.reroute .bus-number {
  background-color: var(--highlight-alt-color);
}
.reroute .time .caption {
  display: inline-flex;
  float: right;
  width: 64px;
  padding-top: 8px;
  color: var(--neutral-dark-low-opacity);
}

/*** OUT OF SERVICE ***/
.out-of-service .bus-number {
  background-color: var(--neutral-light);
  border: 1px solid var(--neutral-dark-low-opacity);
  color: var(--neutral-dark-low-opacity);
}
.out-of-service .time .body {
  padding-top: 12px;
  color: var(--neutral-dark-low-opacity);
}
